.info-wrapper {
    flex-basis: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-wrapper {
    border-radius: 5px;
    box-shadow: var(--normal-shadow);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.section-input {
    font-size: 1rem;
    padding: 8px 10px;
    border: none;
    transition: all 0.1s linear;
    box-shadow: inset 0px 0px 3px rgb(0 0 0 / 0.2);
    border-radius: 5px;
}

.section-input:focus-visible {
    outline: none;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 0.5);
    border: none;
}

.multiple-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.icon {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}

.icon:hover {
    filter: invert(36%) sepia(17%) saturate(1810%) hue-rotate(84deg) brightness(103%) contrast(88%);
}

.input-button-wrapper {
    display: flex;
    gap: 20px;
}

.input-button-wrapper > input {
    width: 100%;
}

.input-button-wrapper > button {
    border: none;
    width: 80px;
    border-radius: 5px;
    background-color: var(--button-green);
    color: white;
    font-size: 1rem;
}

.input-button-wrapper > button:active {
    font-weight: bold;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding: 0 10px;
}

.list-item-wrapper {
    display: flex;
    justify-content: space-between;
}

.list-item-buttons {
    display: flex;
    gap: 10px;
}