.input-button-wrapper {
    display: flex;
    gap: 20px;
}

.input-button-wrapper > input {
    width: 100%;
}

.input-button-wrapper > button {
    border: none;
    width: 80px;
    border-radius: 5px;
    background-color: var(--button-green);
    color: white;
    font-size: 1rem;
}

.input-button-wrapper > button:active {
    font-weight: bold;
}

.skills-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding: 0 10px;
}

.skill-wrapper {
    display: flex;
    justify-content: space-between;
}

.skill-wrapper > div {
    display: flex;
    gap: 10px;
}